<style>
        body {
            background-color: #c7e1e5;
        }

        hr {
            background-color: black;
            border-style: solid;
            height: 2px;
            width: 100%;

        }
    </style>